mixin remember( n, title, end, main, about, about1, about2, about3 )
   .modal__overlay( id='remember_#{n}' )
      .modal__body
         .modal__close
            .icon-close
         .modal__content.scrollbar-inner
            .modal__main
               img( src='./assets/images/remember/#{n}.jpg' )
               .modal__text
                  h2.h2 !{title}
                  p !{main}
            .modal__about
               p !{about}
               p !{about1}
               p !{about2}
               | !{about3}
               p.modal__end !{end}

