mixin year( n, year, num, cl )
   .archive__block.question-holder( class='#{cl}' )
      .archive__year.question-theme( data-question='#{n}' )
         span 20#{year}
      .archive__number_holder.answer-text( id='question-#{n}' )
         .archive__number.trigger
            b.mr-05 &#8470;1
            span (#{num})
         .archive__number.trigger
            b.mr-05 &#8470;2
            span (#{num+1})
         .archive__number.trigger
            b.mr-05 &#8470;3
            span (#{num+2})
         .archive__number.trigger
            b.mr-05 &#8470;4
            span (#{num+3})
