mixin menu( section )
   nav.menu__holder( class='#{section}__menu_holder' )
      a( href='#about' ).nav__link.menu__item( class='#{section}__menu_item' ) О журнале
      a( href='./authors.html' ).menu__item( class='#{section}__menu_item' ) Авторам
      a( href='./editors.html' ).menu__item( class='#{section}__menu_item' ) Редакция
      a( href='./archive.html' ).menu__item( class='#{section}__menu_item' ) Архив
      a( href='./contact.html' ).menu__item( class='#{section}__menu_item' ) Контакты
