mixin slider( n, number, date )
   .slider__main
      .slider__journal_holder
         .slider__cover
            img( src='assets/images/journal/#{n}.jpg?v=1' ).slider__cover_image
         .slider__info
            .slider__number &#8470;!{number} [#{n}]
            .slider__dating #{date}
            .slider__buttons
               a( href='./archive.html#journal_#{n}' ).slider__about содержание
